#
## Requirements for desr
#

# Python dependencies
sympy >= 1.0
python-flint >= 0.7

# Optional for using desr: needed only by desr.numerics and the numerical examples.
# Required for testing desr: the unit tests and doctests do not skip them.
numpy
scipy
matplotlib

# Sphinx dependencies
Sphinx
sphinxcontrib-bibtex